/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root {
    --main-color: #647bff;
    --body-color: #090a1a;
    --container-color: #171b3c;
    --heading-color: #4682B4;
    --box-color: #0d0f26;
    --bg-color: #fff;
}

body {
    color: var(--bg-color);
    background: var(--body-color);
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 960px;
    margin: auto;
    width: 100%;
}

/*Header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-active {
    background: var(--box-color);
    transition: 0.7s;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--main-color);
}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link {
    font-size: 1.2rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--bg-color);
}

.nav-link:hover {
    color: var(--main-color);
    background: var(--container-color);
    transition: 0.2s all linear;
}

/*Home*/

.home {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}

.home-content {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #98a7fc;
    overflow: hidden;
    margin-bottom: 2rem;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-text h3 {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.5rem;
    color: var(--main-color);
}

.home-text p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.social .bx {
    font-size: 1.8rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--bg-color);
    background: var(--container-color);
}

.social .bx:hover {
    background: var(--main-color);
    transition: 0.2s all linear;
}

/*About*/

.heading {
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 2rem;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2.1fr);
    gap: 1.5rem;
}

/*Reviews*/

.reviews {
    max-width: 600px;
    margin: auto;
    width: 100%;
}

.review-box {
    max-width: 550px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1.5rem !important; 

}

.review-box .bx {
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.review-box .review-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.review-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-profile h2{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--main-color);
    font-weight: 600;
}

.review-profile span {
    font-size: 1rem;
    margin: 0.5rem 0.7rem;
}

.review-box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
}   

.swiper-pagination-bullet {
    width: 10px !important;
    height: 7px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    width: 1.5rem !important;
    background: var(--main-color) !important;
}


/*Contact Form*/

.contact-form {

    max-width: 600px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}

.contact-form input, .contact-form textarea {
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 15px;
    color: var(--bg-color);
    background: var(--box-color);
    border-radius: 0.4rem;
}

.contact-form .send-btn {
    width: 120px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    background: var(--main-color);
    cursor: pointer;
}

.contact-form .send-btn:hover {
    background: #546eff;
    transition: 0.2s all linear;
}

.footer p {
    font-size: 1rem;
    text-align: center;
}

/* Responsive */

@media (max-width:990px) {
    .container {
        margin: 0 auto;
        width: 90px;

    }
}

@media (max-width:890px) {
    section {
        padding: 2rem ;
    }
}